@model IEnumerable<Auction.Facade.Bacchus.BidViewModel>

@{
    ViewData["Title"] = "Results";
}

<h2>Results</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.Raw("Auction End Date")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidTo)
                </td>
                <td>
                    @Html.ActionLink("View Bids", "Bids", new { productId = item.ProductId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
